$Firstcolor:#FFE3C7;
$Secondcolor:#FFCC9F;
$Thirdcolor:#FFB669;
$Fourthcolor:#FF7C36;
$Fifthcolor:#FF6600;

body{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
}
@keyframes slideup{
    0%{
        transform: translateY(20px);
        opacity: 0%;
    }
    100%{
    margin-bottom: 0px;
        opacity: 100%;
    }
}
@mixin animationup{
    animation-name: slideup;
    animation-duration: 0.8s;
    // animation-direction: forwards;
    animation-timing-function: ease;
}

// @include flex();

