$Firstcolor:#FFE3C7;
$Secondcolor:#FFCC9F;
$Thirdcolor:#FFB669;
$Fourthcolor:#FF7C36;
$Fifthcolor:#FF6600;

body{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
}


// @include flex();

