#pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    gap: 10px;
    width: 100vw;
    margin-top: 20px;

    #button{
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-color: white;
        border: 0.3px solid black;
    }
}