// SignInForm.scss
.signin-form {
    background-color: whitesmoke;
    width: 30vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 20px #ccc;
    @media screen and (max-width:950px) {
        width: 60vw;
       
    }
  
    h2 {
      text-align: center;
    }
    #logo{
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
  
    form {
      display: flex;
      flex-direction: column;
        margin-top: 50%;

        transform: translate(0%,-50%);
  
      label {
        margin-bottom: 5px;
      }
  
      input {
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 14px;
      }
      #remember{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
      }
  
      button {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
  
        &:hover {
          background-color: #0056b3;
        }
       
      }
     
    }
    #Link{
        
        color: #3f4a57;
        text-decoration: none;
     }
  }